<app-confirm-dialog></app-confirm-dialog>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Angular Confirm Dialog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0);">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-success my-2 my-sm-0" href="https://github.com/abhishek-misra">More Projects</a>
    </form>
  </div>
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome !</h1>
      <p>
        This project is demonstrating how to create custom confirm dialog button in Angular
      </p>
      <p>
        <a class="btn btn-primary btn-lg"
          href="https://www.c-sharpcorner.com/article/confirm-dialog-in-angular-using-bootstrap-modal/"
          role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h2>Confirm Dialog</h2>
        <p> Click on show dialog to show the demo of the compoent.</p>
        <p> <button class="btn btn-secondary" (click)="showDialog()">Show Dialog</button></p>
      </div>
      <div class="col-md-4"></div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; Company 2017-2018</p>
</footer>
